.container {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
    min-height: 20rem;
    overflow: hidden;
    padding: 0 !important;
    margin-bottom: 4rem;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    
}
.form-container {
    border-radius: 1rem;
    width: auto; /* Permite que el ancho sea adaptable */
    max-width: 25rem;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    
    background-color: var(--primary-color);
    border: 1px var(--secondary-color) solid;
}

.text-center {
    display: flex;
    justify-content: space-around;
}

.form-container h2 {
    font-size: calc(var(--font-size) + 14px);
}

.form-container p {
    margin-bottom: 1rem;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}
.form-container a {
    color: var(--text-color);
    text-decoration: underline;
}


.form-label {
    margin-bottom: 1rem;
    font-size: calc(var(--font-size) + 8px);
}

.form-control  {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 2rem;
    border: none;
}





.btn {
    padding: 10px;
    width: 70%;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px var(--secondary-color) solid;
    border-radius: 20px;
    cursor: pointer;
    font-size: calc(var(--font-size) * 1.5);
    font-weight: bolder;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.btn:hover {
    background-color: var(--highlight-color);
}

.earth-image  {
    width: 35rem;
    margin-right: 20px;
    padding: 0;
    position: relative;
    left: -42%;
    filter: grayscale(0%)
}