.container {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
    height: 50rem;
    overflow: hidden;
    padding: 0 !important;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.5rem;
}
.form-container {
    border-radius: 1rem;
    width: 25rem;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    
    background-color: var(--primary-color);
}

.form-container h2 {
    font-size:var(--h2-font-size);
}

.form-container p {
    margin-bottom: 1rem;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}
.form-container a {
    color: var(--text-color);
    text-decoration: underline;
}


.form-label {
    margin-bottom: 2rem;
    font-size: var(--label-font-size);
}

.form-control  {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 2rem;
    border: none;
}

.btn {
    padding: 10px;
    width: 70%;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: var(--button-font-size);
    font-weight: bolder;
}

.btn:hover {
    background-color: var(--highlight-color);
}

.earth-image {
    width: 50rem;
    height: auto;
    margin-right: 20px;
    position: relative;
    left: -30%;
}