@import "./variables.css";

html, body {
    max-width: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    max-width: 100%;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 0 2%;
}

.content {
    margin: 2%;
}

.title {
    display: flex;
    justify-content: space-between;
}